* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style-type: none;
}

body {
     font-family: 'Open Sans';
     font-size: 14px;
     font-weight: 700;
     background: hsl(218, 28%, 13%);
     color: white;
     margin: auto;
     text-align: center;
     background-image: url(images/bg-curvy-desktop.svg);
     background-repeat: no-repeat;
     
}
main {
     width: 90%;
     margin: auto;
}

/* THE HEADER */

header {
     margin-top: 30px;
     font-size: 14px;
     font-weight: 100;
}
nav {
     display: flex;
     justify-content: space-between;
}
ul:nth-child(2) {
     display: flex;
     justify-content: space-between;
}
ul:nth-child(2) li {
     margin: 0 25px;
}


/* THE INTRODUCTION SECTION */

#intro {
     width: 50%;
     margin: 50px auto;
}
#intro img {
     margin: auto;
     width: 100%;
}
#intro h1 {
     margin: 30px auto;
}
#intro p {
     margin: auto;
     font-weight: 100;
     width: 80%;
}
#intro button {
     width: 40%;
     margin-top: 30px;
     height: 50px;
     background: hsl(176, 68%, 64%);
     border: 1px solid hsl(176, 68%, 64%);
     border-radius: 30px;
     color: rgb(247, 242, 242);
     font-size: 18px;
}

/* THE GUARANTEE SECTION */

#guarantee {
     margin: 100px auto;
     width: 70%;
     display: grid;
     grid-template-columns: auto 15% auto;
     grid-row-gap: 80px;
}
#guarantee h3 {
     margin: 20px auto 10px  auto;
}
#guarantee p {
     font-size: 14px;
     font-weight: 100;
}
.access {
     grid-column: 1 / 2;
}
.security {
     grid-column: 3 / 4;
}
.security img {
     height: 78px;
}
.collabo {
     grid-column: 1 / 2;
}
.anyfile {
     grid-column: 3 / 4;
}
.anyfile img {
     height: 71px;
}

/* PRODUCTIVE SECTION */

#productive {
     width: 90%;
     margin: 100px auto;
     display: grid;
     grid-template-columns: auto 10% auto;
}
#productive img {
     grid-column: 1 / 2;
     height: 22rem;
}
#productive section {
     grid-column: 3 / 4;
}
#productive * {
     text-align: left;
     margin-top: 20px;
}
#productive h1 {
     margin-top: 70px;
}
#productive p {
     font-size: 14px;
     font-weight: 100;
}
#productive a {
     font-size: 14px;
     font-weight: 100;
     color: hsl(176, 68%, 64%);
     text-underline-offset: 7px;
}
i {
     margin-left: 5px;
}

/* POSTS SECTION */

#posts {
     width: 95%;
     margin: 100px auto;
     display: flex;
}
#posts img[alt="quote"] {
     height: 50px;
     position: relative;
     bottom: 40px;
     left: 8px;
}
#profiles {
     display: flex;
     position: absolute;
}
.profile {
     background: hsl(219, 30%, 18%);
     width: 30%;
     margin: auto;
     padding: 35px 10px 10px 15px;
     border-radius: 5px;
     text-align: left;
     display: grid;
     grid-template-columns: 40px 12px auto auto;
     grid-template-rows: auto 15px auto;
}
.profile p {
     grid-column: 1 / 5;
     grid-row: 1 / 2;
     font-size: 14px;
}
.profile img {
     height: 40px;
     border-radius: 50%;
     grid-column: 1 / 2;
     grid-row: 3 / 5;
}
.profile strong {
     grid-column: 3 / 5;
     grid-row: 3 / 4;
     font-size: 15px;
}
.profile small {
     grid-column: 3 / 5;
     grid-row: 4 / 5;
     font-size: 11px;
     font-weight: 100;
}

/* THE FOOTER */

footer {
     margin-top: 200px;
}
#footer-top {
     background: hsl(217, 28%, 15%);
     width: 80%;
     margin: auto auto auto auto;
     padding: 30px;
     position: relative;
     top: 90px;
     z-index: 1;
     border-radius: 10px;
     box-shadow: 3px 3px 10px hsl(216, 53%, 9%);
}
#footer-top * {
     margin: 20px auto auto auto;
}
#footer-top input {
     width: 60%;
     height: 50px;
     padding: 20px;
     border: 1px solid white;
     border-radius: 25px;
     margin-right: 35px;
}
#footer-top button {
     width: 30%;
     height: 50px;
     background: hsl(176, 68%, 64%);
     border: 1px solid hsl(176, 68%, 64%);
     border-radius: 25px;
     color: white;
}
#footer-bottom {
     background: hsl(216, 53%, 9%);
     width: 100vw;
     height: 400px;
     padding: 150px 40px;
     text-align: left;
     font-size: 14px;
     font-weight: 100;
     display: grid;
     grid-template-areas: 
               'image image image image image '
               'paragraph contactno aboutus contactus socials';
     grid-column-gap: 50px;
     grid-row-gap: 50px;
     position: absolute;
}

#footer-bottom img {
     height: 60px;     
     grid-area: image;
}
#footer-bottom p {
     grid-area: paragraph;
     max-width: 200px;
}
#footer-bottom i {
     grid-area: icon;
}
#footer-bottom .contactno {
     grid-area: contactno;
}    
#footer-bottom .aboutus {
     grid-area: aboutus;
}
#footer-bottom li {
     padding-bottom: 15px;
}
#footer-bottom .contactus {
     grid-area: contactus;
}
#footer-bottom .socials {
     grid-area: socials;
     display: flex;
     flex-direction: row;
}
ion-icon {
     margin: 0 10px;
}
.paragraph ion-icon {
     display: block;
     margin-top: 3px;
}
.paragraph {
     display: grid;
     grid-template-columns: 40px auto;
}
.contactno ion-icon {
     margin-top: 1px;
}
.contactno {
     display: grid;
     grid-template-columns: 40px auto;
     grid-template-rows: 30px auto;
}

@media screen and (max-width: 540px) {
     body {
          width: 100%;
     }
     header img {
          width: 80px;
     }
     ul:nth-child(2) {
          display: flex;
     }
     ul:nth-child(2) li {
          margin: 0 8px;
     }
     #guarantee {
          display: flex;
          flex-direction: column;
     }
     

     #intro {
          width: 90%;
          margin: 50px auto;
     }
     #intro button {
          width: 80%;
          font-size: 16px;
     }

     #productive {
          display: flex;
          flex-direction: column;
     }
     #productive img {
          height: 15rem;
     }
     #productive a {
          margin-top: 30px;
     }

     #posts {
          display: flex;
          flex-direction: column;
          margin: auto;
     }
     #posts img[alt="quote"] {
          position: relative;
          margin-right: 70%;
          height: 35px;
          top: 40px;
          z-index: -1;
     }
     #profiles {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          position: static;
     }
     .profile {
          width: 90%;
          margin: 10px auto;
          padding: 10%;
     }




     footer {
          width: 100%;
          position: static;
     }
     #footer-top {
          position: relative;
     }
     #footer-top input {
          width: 90%;
          margin:  20px auto;
     }
     #footer-top button {
          width: 90%;
          height: 50px;
          margin-top: -5px;
     }

     #footer-bottom {
          display: flex;
          flex-direction: column;
          position: static;
          height: auto;
     }
     #footer-bottom * {
          margin-bottom: -10px;
     }
     #footer-bottom img {
          height: 50px;   
          width: 50%;  
          grid-area: image;
     }
     #footer-bottom .socials {
          justify-content: center;
     }
     .contactno {
          display: grid;
          grid-template-columns: 40px auto;
     }
     .attribution-foot { 
          margin-top: -18px;
     }
}
